.c-bigwrap {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 50px;
    padding-top: 5px;
    box-sizing: border-box;
}
.game1{
    padding-top: 30px;
    height: 717px;
    width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
    box-sizing: border-box;
}
.game-title {
        width: 100%;
        height: 40px;
        /* margin-top: 30px; */
        margin-bottom: 12px;
        position: relative;
}
.game-title h2 {
    font-size: 24px;
    font-weight: normal;
    color: #4f4f4f;
    line-height: 40px;
    height: 40px;
    margin-left: 16px;
}
.game-title .game-more{
    position: absolute;
    right: 10px;
    font-size: 18px;
    top: 5px;
}
.game-title .game-more a {
    font-size: 14px;
    color: #333;
}
.left-game {
    width: 243px;
    height: 630px;
    float: left;
    overflow: hidden;
}
.left-game img {
    width: 243px;
    height: 630px;
}
.middle-game{
        min-width: 770px;
        min-height: 630px;
        width: 777px;
        height: 665px;
        float: left;
        background: #fff;
}
.middle-game .tab-head {
            width: 777px;
            height: 40px;
        }
        .middle-game .tab-head ul{
            width: 777px;
            height: 40px;
      
        }
        .middle-game .tab-head .game1-show {
            width: 259px;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            color: #242424;
            float: left;
            background-color: #e0e0e0;
            cursor: pointer;
      
}
.middle-game .tab-head .game1-show:hover{
    color: #fff;
    background-color: #00a8ff;
    /* border-right: 1px solid #00a8ff; */
}


.tab-body {
        width: 777px;
        height: 590px;
}
.c-swiper{
    width: 777px;
    height: 295px;
}
.s1-list{
    width: 777px;
    height: 296px;
}
.s1-pic{
    height: 278px;
    width: 258px;
    float: left;
    padding-bottom: 17px;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.s1-pic:hover{
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    position: relative;
    z-index: 1;
}
.s1-tu {
    position: relative;
            width: 204px;
            height: 204px;
            margin:0 27px;
}
.s1-tu img {
    display: block;
    margin: 0 auto;
    max-width: 204px;
    max-height: 204px;
}
.s1-tu ul{
    position: absolute;
    top: 136px;
    
    width:204px; 
}
.s1-tu ul li {

    float: left;
}
.s1-tu ul li .ico{
    border: none;
   
    width: 68px;
    height: 68px;
   
}
.s1-tu  .ico-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 68px;
    height: 68px;
    float: left;
    border: none;
}
.s1-info {
    height: 44px;
    width: 258px;
}
.s1-info p {
        width: 258px;
        height: 22px;
}
.s1-info .p1{
    font-size: 16px;
    color: #434343;
    line-height: 20px;
    height: 22px;
    overflow: hidden;
    text-align: center;
}
.s1-info .p2{
    color: #898989;
    line-height: 20px;
    height: 22px;
    overflow: hidden;
    text-align: center;
}
.s1-price {
    width: 258px;
    height: 30px;
}
.s1-price span {
    display: inline-block;
    width: 258px;
    height: 30px;
    line-height: 30px;
    color: #f20a1a;
    font-size: 16px;
    text-align: center;
}
/* //右边的盒子 */
.right-game {
    width: 205px;
    height: 630px;
    background: #fff;
    float: left;
    overflow: hidden;
}
.right-game .hd{
    width: 100%;
    height: 40px;
    background-color: #00a8ff;
    border-left: 1px solid #fff;
}
.right-game .hd h2 {
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
}
.goods-list {
     width: 189px;
     height: 590px;
     padding: 0 6px 0 10px;
}
.goods-item{
    position: relative;
    height: 90px;
    border-bottom: 1px solid #f2f2f2;
    /* height: 53px; */
    overflow: hidden;
    position: relative;
    padding-top: 6px;
}
.goods-item span {
    position: absolute;
        display: inline-block;
        text-align: center;
        line-height: 34px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #00a8ff;
}
.goods-item .picturn {
    float: left;
}
.goods-item .picturn a img{

            width: 86px;
            height: 86px;
}
.goods-item .info-right{
    float: left;
    width: 87px;
    margin-left: 6px;
    margin-top: 16px;
}
.goods-item .info-right h3 a {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    color: #333;
}
.goods-item .info-right .price {
    display: block;
    margin-top: 8px;
    color: #fe0100;
}
.goods-item .info-right .price i {
    font-size: 16px;
    color: #fe0100;
    line-height: 20px;
    text-align: center;
}


/* //不同的高度的样式 */
.defrent{
    position: relative;
    height: 90px;
    border-bottom: 1px solid #f2f2f2;
    /* height: 53px; */
    overflow: hidden;
    position: relative;
    padding-top: 6px;
}
.defrent span {
    position: absolute;
        display: inline-block;
        text-align: center;
        line-height: 34px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #00a8ff;
}
.defrent .picturn {
    float: left;
}
.defrent .picturn a img{

            width: 86px;
            height: 86px;
}
.defrent .info-right{
    float: left;
    width: 87px;
    margin-left: 6px;
    margin-top: 16px;
}
.defrent .info-right h3 a {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    color: #333;
}
.defrent .info-right .price {
    display: block;
    margin-top: 8px;
    color: #fe0100;
}
.defrent .info-right .price i {
    font-size: 16px;
    color: #fe0100;
    line-height: 20px;
    text-align: center;
}
/* 不同高度的样式结束 */




/* //右边图片初始的样式 */
.init {
    border-bottom: 1px solid #f2f2f2;
    height: 53px;
    overflow: hidden;
    position: relative;
    padding-top: 6px;
}
.init span{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* font-size: 14px; */
    color: #00a8ff;
}
.init .info-right {
    float: left;
    width: 149px;
    /* font-size: 14px; */
    line-height: 40px;
    margin-bottom: 9px;
    overflow: hidden;
}
.init .info-right h3{
    margin-bottom: 0;
    font-weight: 400;
    max-height: 50px;
    /* _height: 50px; */
    overflow: hidden;
    font-size: 100%;
}
.init .picturn{
    display: none;
}