#s_contain{
    .con_page{
        width: 1226px; margin: 30px auto;
        .section{
            .sec_main{
                margin-bottom: 30px;
                .car_head{
                    height: 50px;line-height: 50px;padding-left: 16px;padding-right: 50px;background-color: #fff;
                    margin-bottom: 10px;
                    li{float: left;font-size: 16px;height: 50px;width: 100px;text-align: center;}
                    .cart_input{
                        width: 118px;text-align: left;
                        .checkbox_box{
                            margin-top: 16px;width: 16px;height: 16px;text-align: center;line-height: 16px;border: 1px solid #c9c9c9;float: left;
                            border-radius: 5px;position: relative;
                            i{display: block;color: #fff;}
                        }
                        .checkAll{background-color: #00a8ff;border-color: #00a8ff;}
                        .label{margin-left: 15px;}
                    }
                    .cart_goods{ width: 490px;text-align: left;}
                     .cart_price{width: 110px;} 
                     .cart_num{width: 96px;} 
                    .cart_action{width:46px;}
                }
            }
        }
    }
   
}