#w_er_cswiper{
    position: relative;
    height:500px;
    margin-bottom:50px
}
.fr {
    float: right;
}

.fl {
    float: left;
}

.w {
    /* 更改 */
    /* width: 1042px;
    height: 500px; */
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 10;
}

.w-er {
    display: flex;
    /* width: 1042px; */
    height: 500px;
    /* background:yellow; */
    /* border: 1px solid black; */
}

.w-er1 {
    width: 242px;
    height: 500px;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content: space-around;
}

.w-er1 li {
    font-size: 14px;
    padding: 0 10px;
    flex: 1;
    height: 40px;
    background: rgba(0, 0, 0, .7);
    /* border: 1px solid black; */
    color: white;
}

.w-er1 li:hover {
    background: #00a8ff;
}

.w-er1 li>div {
    line-height: 56px;
    float: right;
}

.w-er1 li>div>span {
    display: inline-block;
}

.item {
    height: 56px;
    line-height: 56px;
}

/* _______________________________________ */

.w-er2 {
    /* 更改 */
    /* display: flex; */
    width: 800px;
    /* height: 500px; */
    /* background: #fff; */
    /* border: 1px solid red; */
    position: relative;
    display: none;
}

.uu {
    position: absolute;
    /* display: flex; */
    /* width: 801px; */
    height: 500px;
    left: 0;
    top: 0;
    /* border: 1px solid red; */
    background: white;
    /* display: none; */
}

/* --------------------------- */

.w-er2 li {
    height: 61px;
    width: 100%;
    line-height: 61px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}

.w-er2-1-1 {
    height: 500px;
    width: 300px;
    /* background: red; */
}

.w-er2-1-2 {
    width: 100%;
    height: 100%;
}

.w-er2-1-2 li {
    width: 100%;
    height: 50px;
    /*border-bottom: 1px solid black;*/
    padding-left: 10px;
}

.w-er2-1-2 li span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    font-size: 12px;
}

.w-er2-1-3 {
    width: 400px;
    height: 500px;
    background: url(../images/w7.jpg) center;
}

/*________*/

.w-er2-2 {
    display: block;
}

.w-er-2-2-1 {
    height: 500px;
    width: 451px;
    /*border: 1px solid aqua;*/
}

.w-er-2-2-2 {
    width: 100%;
    height: 100%;
}

.w-er-2-2-2 .w-er-2-2-3 {
    margin-right: 30px;
}

.w-er-2-2-2 a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 14px;
}

.swpier {
    /* display: none; */

        width: 100%;
        height: 500px;
        background: yellow;
        position: absolute;
        cursor: pointer;
        top:0;
}


.swpier .swiper-container {
    width: 100%;
    height: 500px;
}

.swiper-wrapper {
    width: 100%;
    height: 500px;
}

.swiper-wrapper img {
    width: 100%;
    height: 500px;
}


