#s_top,#s_bottom{width:100%;color:#666666;}
#s_top{
    .s_topbar{
        background-color: #404040;position: relative;
        .s_page{
            width: 1226px;margin: 0 auto;
            .s_left{
                height: 40px;line-height: 40px;max-width: 750px;float: left;
                a{font-size: 14px;color: #b2b2b2;display: inline-block;margin: 0 10px;}
                .link:hover{color:#fff;}
            }
            .s_right{
                float: right;color: #b2b2b2;
                ul{
                    font-size: 14px;
                    a{color: #b2b2b2;display: block;}
                    li{float: left;padding: 0 10px;margin-left: 10px;height: 40px;line-height: 40px;}
                    .s_sign a{margin: 0 10px;display: inline-block;}
                    .s_member{
                        width: 100px;text-align: center;position: relative;
                        i{font-size: 18px;vertical-align: middle;}
                        .s_men_fast{
                            width: 100%;background-color: #fff;box-shadow: 0 2px 3px #ccc;position: absolute;left: 0;top: 40px;
                            display: none;max-height: 180px; overflow: hidden;
                            .s_link{  
                                line-height: 30px;height: 30px; 
                                a{color: #404040;}
                            }
                            .s_link:hover{background:#ccc;}                                                     
                        }
                    }
                    .s_cart{
                        padding-right:0;
                        .s_minicart{
                            line-height: 40px;position: relative;min-width: 120px;background-color: #4c4c4c;
                            .s_active{background: #00a8ff;color: #fff;}
                            .s_minicart_text{
                                height: 40px;padding-left: 35px;
                                .icon_cart{
                                    position: absolute;width: 25px;height: 25px;left: 6px;top: 0px; font-size:20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .s_nav{
        padding-top: 23px;background-color: #fff;position: relative;
        .s_navcon{
            width: 1226px;margin: 0 auto;height: 77px;
            .s_logo{
                float: left;width: 234px;overflow: hidden; 
                .s_logo_l{
                    float: left;height: 77px;    width: 150px;
                    img{width:150px;height: 60px;}
                }
                .s_ad{float: right;width: 60px;height: 60px;}
            }
            .s_nav_main{
                height: 57px;float: left;padding: 10px 0;width: 570px;
                .s_menu{
                    li{
                        width: auto;float: left;height: 67px;line-height: 40px;text-align: center;font-size: 16px;
                        a{padding: 14px 20px 37px;color: #333;font-size: 14px;}
                        a:hover{color: #0563c3;}
                    }
                }
            }
            .s_search{
                float: right;
                .s_searchbar{
                    position: relative;
                    form{
                        font-size: 0;
                        input{width: 300px;height: 38px;line-height: 38px;font-size: 14px;border: 1px solid #a29e9f;border-right: none; padding: 0 0 0 4px;}
                        .btn{
                            width: 40px;height: 38px;border: 1px solid #a29e9f;background-color: #fff;vertical-align: top;box-sizing: content-box;
                            i{display: block;font-size: 18px;color: #a0a0a0;padding-left: 10px;line-height: 1.91667;
                            }
                        }  
                    }

                }
            }
        }
    }
}