#s_top,
#s_bottom {
  width: 100%;
  color: #666666;
}
#s_top .s_topbar {
  background-color: #404040;
  position: relative;
}
#s_top .s_topbar .s_page {
  width: 1226px;
  margin: 0 auto;
}
#s_top .s_topbar .s_page .s_left {
  height: 40px;
  line-height: 40px;
  max-width: 750px;
  float: left;
}
#s_top .s_topbar .s_page .s_left a {
  font-size: 14px;
  color: #b2b2b2;
  display: inline-block;
  margin: 0 10px;
}
#s_top .s_topbar .s_page .s_left .link:hover {
  color: #fff;
}
#s_top .s_topbar .s_page .s_right {
  float: right;
  color: #b2b2b2;
}
#s_top .s_topbar .s_page .s_right ul {
  font-size: 14px;
}
#s_top .s_topbar .s_page .s_right ul a {
  color: #b2b2b2;
  display: block;
}
#s_top .s_topbar .s_page .s_right ul li {
  float: left;
  padding: 0 10px;
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
}
#s_top .s_topbar .s_page .s_right ul .s_sign a {
  margin: 0 10px;
  display: inline-block;
}
#s_top .s_topbar .s_page .s_right ul .s_member {
  width: 100px;
  text-align: center;
  position: relative;
  display: none;
}
#s_top .s_topbar .s_page .s_right ul .s_member a {
  font-size: 12px;
}
#s_top .s_topbar .s_page .s_right ul .s_member i {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
#s_top .s_topbar .s_page .s_right ul .s_member .s_men_fast {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 3px #ccc;
  position: absolute;
  left: 0;
  top: 40px;
  display: none;
  max-height: 180px;
  overflow: hidden;
  z-index: 11;
}
#s_top .s_topbar .s_page .s_right ul .s_member .s_men_fast .s_link {
  line-height: 30px;
  height: 30px;
}
#s_top .s_topbar .s_page .s_right ul .s_member .s_men_fast .s_link a {
  color: #404040;
}
#s_top .s_topbar .s_page .s_right ul .s_member .s_men_fast .s_link:hover {
  background: #ccc;
}
#s_top .s_topbar .s_page .s_right ul .s_member:hover .s_men_fast {
  display: block;
}
#s_top .s_topbar .s_page .s_right ul .s_cart {
  padding-right: 0;
}
#s_top .s_topbar .s_page .s_right ul .s_cart .s_minicart {
  line-height: 40px;
  position: relative;
  min-width: 120px;
  background-color: #4c4c4c;
}
#s_top .s_topbar .s_page .s_right ul .s_cart .s_minicart .s_active {
  background: #00a8ff;
  color: #fff;
}
#s_top .s_topbar .s_page .s_right ul .s_cart .s_minicart .s_minicart_text {
  height: 40px;
  padding-left: 35px;
}
#s_top .s_topbar .s_page .s_right ul .s_cart .s_minicart .s_minicart_text .icon_cart {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 6px;
  top: 0px;
  font-size: 20px;
}
#s_top .s_topbar .s_page .s_right ul .s_cart .s_minicart .minicart_cont {
  min-width: 303px;
  max-height: 300px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 10;
  display: none;
  text-align: left;
  line-height: 18px;
  background-color: #fff;
  box-shadow: 0 2px 3px #ccc;
  padding-top: 10px;
}
#s_top .s_topbar .s_page .s_right ul .s_cart .s_minicart .minicart_cont p {
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #000;
}
#s_top .s_nav {
  padding-top: 23px;
  background-color: #fff;
  position: relative;
}
#s_top .s_nav .s_navcon {
  width: 1226px;
  margin: 0 auto;
  height: 77px;
}
#s_top .s_nav .s_navcon .s_logo {
  float: left;
  width: 234px;
  overflow: hidden;
}
#s_top .s_nav .s_navcon .s_logo .s_logo_l {
  float: left;
  height: 77px;
  width: 150px;
}
#s_top .s_nav .s_navcon .s_logo .s_logo_l img {
  width: 150px;
  height: 60px;
}
#s_top .s_nav .s_navcon .s_logo .s_ad {
  float: right;
  width: 60px;
  height: 60px;
}
#s_top .s_nav .s_navcon .s_nav_main {
  height: 57px;
  float: left;
  padding: 10px 0;
  width: 570px;
}
#s_top .s_nav .s_navcon .s_nav_main .s_menu li {
  width: auto;
  float: left;
  height: 67px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
#s_top .s_nav .s_navcon .s_nav_main .s_menu li a {
  padding: 14px 20px 37px;
  color: #333;
  font-size: 14px;
}
#s_top .s_nav .s_navcon .s_nav_main .s_menu li a:hover {
  color: #0563c3;
}
#s_top .s_nav .s_navcon .s_search {
  float: right;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar {
  position: relative;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form {
  font-size: 0;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form input {
  width: 300px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border: 1px solid #a29e9f;
  border-right: none;
  padding: 0 0 0 4px;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form .btn {
  width: 40px;
  height: 36px;
  border: 1px solid #a29e9f;
  background-color: #fff;
  vertical-align: top;
  box-sizing: content-box;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form .btn i {
  display: block;
  font-size: 20px;
  color: #a0a0a0;
  line-height: 1.91667;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form .btn i:hover {
  color: #fff;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form ul {
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 100;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: #ccc;
  display: none;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form ul li {
  height: 30px;
  width: 300px;
  font-size: 12px;
  color: #333;
  line-height: 30px;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form ul li:hover {
  background: #eee;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form ul .current {
  background: #ccc;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar form .btn:hover {
  background: #3440e9;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar .s_innerKeywords {
  position: absolute;
  top: 9px;
  right: 62px;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar .s_innerKeywords a {
  float: left;
  padding: 0 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin: 0 4px;
  height: 22px;
  line-height: 22px;
  color: #353535;
  font-size: 12px;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar .s_innerKeywords a:hover {
  background: #000fff;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar .s_host {
  margin-top: 5px;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar .s_host a {
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
}
#s_top .s_nav .s_navcon .s_search .s_searchbar .s_host a:hover {
  color: #0563c3;
}
#s_top .s_nav .nav_list {
  min-height: 89px;
  background-color: #fff;
  z-index: 10000;
  position: absolute;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  transition: all 0.4s ease-in-out;
  display: none;
}
#s_top .s_nav .nav_list ul {
  width: 1260px;
  background-color: #fff;
  min-height: 50px;
  margin: 0 auto;
  overflow: hidden;
}
#s_top .s_nav .nav_list ul li {
  width: 175px;
  height: 80px;
  float: left;
  text-align: center;
  opacity: 1;
}
#s_top .s_nav .nav_list ul li a {
  font-size: 14px;
  color: #333;
}
#s_top .s_nav .nav_list ul li a img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
#s_top .s_nav .nav_list ul li a p {
  padding-top: 5px;
}
#s_top .s_nav .nav_list ul li a:hover {
  color: #0563c3;
}
#s_top .s_nav .nav_list ul li:hover {
  opacity: 0.5;
}
#s_top .s_nav .nav_list .animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
#s_top .s_nav .hot_show {
  min-height: 80px;
  background: #fff;
  width: 100%;
  position: absolute;
  padding-top: 15px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  z-index: 7777;
  display: none;
}
#s_top .s_nav .hot_show .hot_activity {
  position: relative;
  width: 1226px;
  height: 180px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 0 25px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 8888;
}
#s_top .s_nav .hot_show .hot_activity .js_hotactivity {
  width: 1400px;
}
#s_top .s_nav .hot_show .hot_activity .js_hotactivity li {
  padding: 0 17px 5px 0;
  width: 190px;
  min-height: 130px;
  text-align: left;
  float: left;
  cursor: default;
}
#s_top .s_nav .hot_show .hot_activity .js_hotactivity li img {
  width: 190px;
  height: 130px;
  box-sizing: border-box;
  display: inline-block;
}
#s_top .s_nav .hot_show .hot_activity .js_hotactivity li p {
  padding-top: 3px;
}
#s_bottom .s_service,
#s_bottom .s_helper {
  background-color: #fafafa;
}
#s_bottom .s_service {
  height: 44px;
  padding-top: 18px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
#s_bottom .s_service .ser_page {
  width: 1226px;
  margin: 0 auto;
}
#s_bottom .s_service .ser_page li {
  float: left;
  width: 244px;
  height: 28px;
  border-right: 1px solid #ccc;
  font-size: 14px;
}
#s_bottom .s_service .ser_page li .icon {
  display: inline-block;
  width: 30px;
  height: 28px;
  background: url(../../images/jinglingtu.png) no-repeat;
  vertical-align: middle;
}
#s_bottom .s_service .ser_page .s_shiwu .icon {
  background-position: 0 -30px;
}
#s_bottom .s_service .ser_page .s_man .icon {
  background-position: 0 -60px;
}
#s_bottom .s_service .ser_page .s_last .icon {
  background-position: 0 -91px;
}
#s_bottom .s_service .ser_page .s_last .icon {
  background-position: 0 -122px;
}
#s_bottom .s_helper {
  padding: 60px 0 80px 0;
}
#s_bottom .s_helper .helper_page {
  width: 1226px;
  margin: 0 auto;
}
#s_bottom .s_helper .helper_page .helper_item {
  float: left;
  width: 204px;
  margin-right: 100px;
}
#s_bottom .s_helper .helper_page .helper_item .s_content .content_title,
#s_bottom .s_helper .helper_page .helper_item .s_content .content_title a {
  color: #2d2d2d;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
#s_bottom .s_helper .helper_page .helper_item .s_content .content-item {
  line-height: 24px;
  font-size: 14px;
  color: #646464;
}
#s_bottom .s_helper .helper_page .helper_item .s_content .content-item a {
  color: #333;
}
#s_bottom .s_info {
  background-color: #fff;
  padding-top: 20px;
}
#s_bottom .s_info .s_theme {
  text-align: center;
  line-height: 1.8;
  margin-top: 10px;
}
#s_bottom .s_info .s_theme p {
  color: #666666;
  font-size: 14px;
}
#s_bottom .s_info .s_theme .s_gn {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  line-height: 20px;
}
#s_bottom .s_info .s_theme .s_gn a {
  color: #333;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
#s_bottom .s_info .s_theme .s_gn img {
  vertical-align: middle;
  display: inline-block;
}
#s_floatbox {
  position: fixed;
  top: 50%;
  margin-top: -100px;
  right: 0;
  z-index: 100001;
}
#s_floatbox .w-fx1 .w-fx2 {
  background-color: #00a8ff;
  position: relative;
}
#s_floatbox .w-fx1 .w-fx2 .w-fx3 {
  position: absolute;
  top: -80px;
  right: 0;
  display: none;
}
#s_floatbox .w-fx1 .w-fx2 .w-fx3 img {
  width: 170px;
  height: 424px;
}
#s_floatbox .w-fx1 .w-fx2:hover .w-fx3 {
  display: block;
}
